Repository radicalcondor/singer-node: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsdx lint

.lintstagedrc:

{
  "*.md": ["prettier --write"],
  "*.ts": ["prettier --write", "tsdx lint"]
}

refactor: implement `getOffset()` and improved types and tests
  package.json
  src/spec/bookmarks.spec.ts
  src/spec/bookmarks.ts
  yarn.lock
Due: prettier --write, tsdx lint

feat: implement `getCurrentlySyncing()` and add tests
  src/spec/bookmarks.spec.ts
  src/spec/bookmarks.ts
Due: prettier --write, tsdx lint

feat: implement `Catalog#getSelectedStreams()` and add tests
  src/spec/Catalog.spec.ts
  src/spec/Catalog.ts
Due: prettier --write, tsdx lint

docs: update TODO.md
  TODO.md
Due: prettier --write

chore: update `TODO`
  TODO.md
Due: prettier --write

feat: add implementation for all missing functions and refactor file
  src/spec/bookmarks.ts
Due: prettier --write, tsdx lint

test: add implementation for stubs and add test for utils
  src/spec/bookmarks.spec.ts
Due: prettier --write, tsdx lint

refactor: simplify `Catalog#shuffleStreams()`
  src/spec/Catalog.ts
Due: prettier --write, tsdx lint

test: implement serialization tests for `Catalog`
  TODO.md
  src/spec/Catalog.spec.ts
  src/spec/Catalog.ts
  src/spec/CatalogEntry.ts
  src/types.d.ts
Due: prettier --write, tsdx lint

build(deps): remove `lodash.has`
  package.json
  yarn.lock
Due: none

style: format and lint
  src/spec/bookmarks.spec.ts
  src/spec/bookmarks.ts
Due: prettier --write, tsdx lint

fix(spec/Catalog): fix broken `toString()` method and failing test
  src/spec/Catalog.spec.ts
  src/spec/Catalog.ts
Due: prettier --write, tsdx lint

fix: correctly export all modules
  src/index.spec.ts
  src/index.ts
  tsconfig.json
Due: prettier --write, tsdx lint

chore(deps): add `@radicalcondor/eslint-config` as linter preset
  .eslintrc
  package.json
  yarn.lock
Due: none

style: format code
  package.json
  src/index.spec.ts
  src/spec/Catalog.spec.ts
  src/spec/Catalog.ts
  src/spec/CatalogEntry.ts
  src/spec/Config.ts
  src/spec/Metric.spec.ts
  src/spec/Metric.ts
  src/spec/bookmarks.spec.ts
  src/spec/bookmarks.ts
  src/spec/errors/index.spec.ts
  src/spec/logger.ts
  src/spec/messages/RecordMessage.spec.ts
  src/spec/messages/RecordMessage.ts
  src/spec/messages/SchemaMessage.spec.ts
  src/spec/messages/SchemaMessage.ts
  src/spec/messages/StateMessage.ts
  src/spec/messages/parseMessage.ts
  src/types.d.ts
  yarn.lock
Due: prettier --write, tsdx lint
